<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>后台管理系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--弹出框样式-->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <!--时间选择插件-->
    <link th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <!--日期选择插件-->
    <link th:href="@{/bootstrap/css/bootstrap-datepicker3.min.css}" rel="stylesheet"/>
    <style type="text/css">
        table {
            border-collapse: collapse;
            table-layout: fixed; /*不添加此样式，会全部显示    */
        }

        table td {
            border: 1px solid #eef2e9;
            /* text-overflow: ellipsis; */ /* 加上，显示省略号*/
            white-space: nowrap;
            overflow: hidden;
        }

        table td:hover { /* 鼠标滑过  显示隐藏的内容  伴有横向的滚动条 */
            overflow: auto;
            text-overflow: clip;
        }
    </style>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="admin/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="admin/common/topbar::#topbarheader"></div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>操作日志管理</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <input class="form-control" type="text" placeholder="请输入操作员名称" id="opertor">
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="input-group">
                                                <div class="input-daterange input-group js-datepicker"
                                                     data-auto-close="false" data-date-format="yyyy-mm-dd">
                                                    <input class="form-control" type="text" id="startdate"
                                                           name="startdate" placeholder="开始日期">
                                                    <span class="input-group-addon"><i
                                                            class="mdi mdi-chevron-right"></i></span>
                                                    <input class="form-control" type="text" id="enddate"
                                                           name="enddate" placeholder="结束日期">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" type="submit" id="search">查询</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-hover table-striped" style="overflow: hidden">
                                        <thead>
                                        <tr>
                                            <th class="info">ID</th>
                                            <th class="info">功能模块</th>
                                            <th class="info">操作类型</th>
                                            <th class="info">操作描述</th>
                                            <th class="info">请求参数</th>
                                            <th class="info">返回参数</th>
                                            <th class="info">操作员名称</th>
                                            <th class="info">操作方法</th>
                                            <th class="info">请求URL</th>
                                            <th class="info">请求IP</th>
                                            <th class="info">操作时间</th>
                                            <th class="info">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="operation:${operationLogList}">
                                            <td th:text="${(operationLogPageInfo.pageNum - 1) * operationLogPageInfo.pageSize+operation.operId}"
                                                th:style="'width:20px;'"></td>
                                            <td th:text="${operation.operModul}"></td>
                                            <td th:text="${operation.operType}"></td>
                                            <td th:text="${operation.operDesc}"></td>
                                            <td th:text="${operation.operRequparam}"></td>
                                            <td th:text="${operation.operRespparam}"></td>
                                            <td th:text="${operation.operUsername}"></td>
                                            <td th:text="${operation.operMethod}"></td>
                                            <td th:text="${operation.operUrl}"></td>
                                            <td th:text="${operation.operIp}"></td>
                                            <td th:text="${operation.operCreatetime}"></td>
                                            <td>
                                                <button class="btn btn-danger btn-sm delete_btn"
                                                        th:attr="delete-id=${operation.operId}">
															<span class="glyphicon glyphicon-trash"
                                                                  aria-hidden="true"></span> 删除
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- 显示分页信息 -->
                            <div class="row" style="margin-left: 20px">

                                <div class="col-md-5">
                                    <div class="btn-group">
                                        <button class="btn btn-default">
                                            <span>页次：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${operationLogPageInfo.pageNum}+'/'+${operationLogPageInfo.pages}+'页'"></span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>每页显示：</span>
                                        </button>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1"
                                                    class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span
                                                    th:text="${operationLogPageInfo.pageSize}"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li th:each="i:${#numbers.sequence(1,10)}">
                                                    <a th:text="${i}"
                                                       th:href="@{/admin/system/toOperationLogManage.html(pageNum=${operationLogPageInfo.pageNum},pageSize=${i})}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default">
                                            <span>条</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>总记录数：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${operationLogPageInfo.total}+'条'"></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- 分页条信息 -->
                                <div class="col-md-5">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg pull-right"
                                            style="margin-top: 0">
                                            <li>
                                                <a th:href="@{/admin/system/toOperationLogManage.html(pageNum=1,pageSize=${operationLogPageInfo.pageSize})}">首页</a>
                                            </li>

                                            <li th:if="${operationLogPageInfo.hasPreviousPage }"><a
                                                    th:href="@{/admin/system/toOperationLogManage.html(pageNum=${operationLogPageInfo.pageNum}-1,pageSize=${operationLogPageInfo.pageSize})}"
                                                    aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                            </a></li>

                                            <li th:each="page_Num:${operationLogPageInfo.navigatepageNums }"
                                                th:class="${page_Num == operationLogPageInfo.pageNum?'active':''}">
                                                <a th:if="${page_Num == operationLogPageInfo.pageNum}"
                                                   th:text="${page_Num}"
                                                   th:href="@{#}">
                                                </a>
                                                <a th:text="${page_Num}"
                                                   th:if="${page_Num != operationLogPageInfo.pageNum}"
                                                   th:href="@{/admin/system/toOperationLogManage.html(pageNum=${page_Num},pageSize=${operationLogPageInfo.pageSize})}">
                                                </a>
                                            </li>

                                            <li th:if="${operationLogPageInfo.hasNextPage }"><a
                                                    th:href="@{/admin/system/toOperationLogManage.html(pageNum=${operationLogPageInfo.pageNum}+1,pageSize=${operationLogPageInfo.pageSize})}"
                                                    aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                            </a></li>

                                            <li><a
                                                    th:href="@{/admin/system/toOperationLogManage.html(pageNum=${operationLogPageInfo.pages},pageSize=${operationLogPageInfo.pageSize})}">末页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<!--时间选择插件-->
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/zh-cn.js}"></script>
<!--日期选择插件-->
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script type="text/javascript">
    //单个删除
    $(document).on("click", ".delete_btn", function () {
        //1、弹出是否确认删除对话框
        var id = $(this).attr("delete-id");
        $.alert({
            title: '提示：',
            content: "确定删除该操作记录吗？",
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function () {
                        $.ajax({
                            url: "/admin/deleteOperationLogById/" + id,
                            type: "DELETE",
                            success: function (result) {
                                if (result.code === 100) {
                                    $.alert('删除该操作记录成功！');
                                    setTimeout(function () {
                                        var pageNum = [[${operationLogPageInfo.pageNum}]];
                                        var pageSize = [[${operationLogPageInfo.pageSize}]];
                                        location.href = "/admin/system/toOperationLogManage.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                                    }, 1000);
                                } else {
                                    $.alert('删除该操作记录失败!');
                                }
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                        $.alert('已取消!');
                    }
                }
            }
        });
    });

    $("#search").click(function () {
        var opertor = $("#opertor").val();
        var startdate = $("#startdate").val();
        var enddate = $("#enddate").val();
        $.ajax({
            url: "/admin/selectOperationLog",
            type: "POST",
            data: {
                "opertor": opertor,
                "startdate": startdate,
                "enddate": enddate
            },
            success() {

            }
        })
    })
</script>
</body>
</html>