<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>个人理财系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--弹出框样式-->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body data-sidebarbg="color_8" data-logobg="color_8">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="user/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="user/common/topbar::#topbarheader"></div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>基金理财推荐</h4>
                            </div>
                            <div th:if="${!fundProductList.isEmpty()}" class="card-body">
                                <div class="row m-b-10">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   aria-label="Text input with multiple buttons" id="information"
                                                   placeholder="请输入关键词...">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Help"
                                                        data-toggle="tooltip" data-placement="top" title="可输入基金代码或基金简称">
                                                    <span class="mdi mdi-alert-circle-outline"></span>
                                                </button>
                                                <button type="button" class="btn btn-default" id="search">搜索</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped" id="tab_id">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">基金代码</th>
                                            <th class="info">基金简称</th>
                                            <th class="info">基金类型</th>
                                            <th class="info">日增长率</th>
                                            <th class="info">月增长率</th>
                                            <th class="info">年增长率</th>
                                            <th class="info">起投金额</th>
                                            <th class="info">投资期限</th>
                                            <th class="info">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="fp:${fundProductList}" class="search_show">
                                            <td th:text="${fpStat.index+1}"></td>
                                            <td th:text="${fp.code}"></td>
                                            <td th:text="${fp.funddesc}"></td>
                                            <td th:if="${fp.type==1}" th:text="股票型基金"></td>
                                            <td th:if="${fp.type==2}" th:text="债券型基金"></td>
                                            <td th:if="${fp.type==3}" th:text="货币型基金"></td>
                                            <td th:if="${fp.type==4}" th:text="混合型基金"></td>
                                            <td th:text="${#numbers.formatDecimal(fp.dailygrowth*100,1,2)}+'%'"></td>
                                            <td th:text="${#numbers.formatDecimal(fp.monthlygrowth*100,1,2)}+'%'"></td>
                                            <td th:text="${#numbers.formatDecimal(fp.annualgrowth*100,1,2)}+'%'"></td>
                                            <td th:text="${#numbers.formatDecimal(fp.leastmoney,1,2)}+'元'"></td>
                                            <td th:text="${fp.investerm}"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm buy_btn"
                                                        th:attr="buyBtnId=${fp.id},buyBtnName=${fp.funddesc},buyBtnLeastmoney=${fp.leastmoney}">
                                                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 投资
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:if="${fundProductList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <h4>很抱歉！暂时还没有基金理财向您推荐</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script th:inline="javascript">
    $(document).on("click", ".buy_btn", function () {
        var fundProductId = $(this).attr("buyBtnId");
        var userId = [[${session.loginUser.id}]];
        var leastmoney = $(this).attr("buyBtnLeastmoney");
        var balance = [[${Balance.balance}]];
        if (leastmoney > balance) {
            $.alert("余额不足，请先充值");
            return false;
        }
        var name = $(this).attr("buyBtnName");
        $.alert({
            title: '提示：',
            content: "确定买入 <strong>" + name + "</strong> 吗？",
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function () {
                        $.ajax({
                            url: "/user/buyFundProduct",
                            type: "POST",
                            data: {
                                "fundProductId": fundProductId,
                                "userId": userId,
                                "leastmoney": leastmoney
                            },
                            success: function (result) {
                                if (result.code === 100) {
                                    $.alert('买入成功!');
                                } else {
                                    $.alert('买入失败!');
                                }
                            }
                        });

                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                        $.alert('已取消!');
                    }
                }
            }
        });
    })

    $("#search").click(function () {
        var information = $("#information").val();
        $.ajax({
            url: "/user/selectFundProduct",
            type: "POST",
            data: {
                "information": information
            },
            success: function (result) {
                if (result.code === 100) {
                    $("#tab_id tr:gt(0)").empty();
                    var fundProductList = result.extend.fundProductList;
                    for (let fp = 0; fp < fundProductList.length; fp++) {
                        var dailygrowth = Number(fundProductList[fp].dailygrowth * 100).toFixed(2);
                        dailygrowth += "%";
                        var monthlygrowth = Number(fundProductList[fp].monthlygrowth * 100).toFixed(2);
                        monthlygrowth += "%";
                        var annualgrowth = Number(fundProductList[fp].annualgrowth * 100).toFixed(2);
                        annualgrowth += "%";
                        var fundProductType = "";
                        if (fundProductList[fp].type == 1) {
                            fundProductType = "股票型基金";
                        } else if (fundProductList[fp].type == 2) {
                            fundProductType = "债券型基金";
                        } else if (fundProductList[fp].type == 3) {
                            fundProductType = "货币型基金";
                        } else if (fundProductList[fp].type == 4) {
                            fundProductType = "混合型基金";
                        }
                        var leastmoney = fundProductList[fp].leastmoney.toFixed(2);
                        var rowTr = document.createElement('tr');
                        rowTr.className = "search_show";
                        var child = "<td>" + fundProductList[fp].id + "</td>" +
                            "<td>" + fundProductList[fp].code + "</td>" +
                            "<td>" + fundProductList[fp].funddesc + "</td>" +
                            "<td>" + fundProductType + "</td>\n" +
                            "<td>" + dailygrowth + "</td>" +
                            "<td>" + monthlygrowth + "</td>" +
                            "<td>" + annualgrowth + "</td>" +
                            "<td>" + leastmoney + "元</td>" +
                            "<td>" + fundProductList[fp].investerm + "</td>" +
                            "<td>" +
                            "<button class=\"btn btn-primary btn-sm buy_btn\" buyBtnId=\"" + fundProductList[fp].id + "\" buyBtnName=\"" + fundProductList[fp].funddesc + "\" buyBtnLeastmoney=\"" + leastmoney + "\">" +
                            "<span class=\"glyphicon glyphicon-usd\" aria-hidden=\"true\"></span> 投资" +
                            "</button>" +
                            "</td>";
                        rowTr.innerHTML = child;
                        $("#tab_id").append(rowTr);
                    }
                } else {
                    alert("查询失败");
                }
            }
        })
    })

</script>
</body>
</html>
